_site
.sass-cache
.jekyll-metadata
Gemfile.lock
theme
minimal-mistakes-theme
.DS*
backup/
old/
memo.md

_posts/edit/memo.md
myPj/inverse/js/Old

# git rm -r --cached backup
# git rm -r --cached myPj/inverse/js/Old
