{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}

          {% if page.url contains '/en/' %}
            {% assign logo_href = '/en/' %}
          {% else %}
            {% assign logo_href = '/' %}
          {% endif %}
          <a class="site-logo" href="{{ logo_href | relative_url }}">
            <img src="{{ logo_path | relative_url }}"
                 alt="{{ site.masthead_title | default: site.title }}">
          </a>
        {% endunless %}
        {% if page.url contains '/en/' %}
          {% assign title_href = '/en/' %}
        {% else %}
          {% assign title_href = '/' %}
        {% endif %}
        <a class="site-title" href="{{ title_href | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>


        <ul class="visible-links">
          {% comment %} ページの front matter で nav: main-en があればそれを優先、なければ site.header.nav{% endcomment %}
          {% assign nav_key = page.nav | default: site.header.nav %}
          {%- for link in site.data.navigation[nav_key] -%}
        
            <li class="masthead__menu-item">
              <a
                href="{{ link.url | relative_url }}"
                {% if link.description %} title="{{ link.description }}"{% endif %}
                {% if link.target %} target="{{ link.target }}"{% endif %}
              >{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>

        
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
