

{% if site.pages %}
    <h3>Dynamic Navigation</h3>
    <ul>
      {% assign grouped_pages = site.pages | group_by: "dir" %}
      {% for group in grouped_pages %}
        {% unless group.name == "/" %}
        <li>
          <a href="{{ group.name }}">{{ group.name | replace: "/", "" | capitalize }}</a>
          <ul>
            {% for page in group.items %}
              {% unless page.url == "/" or page.name == "index.html" %}
                <li>
                  <a href="{{ page.url }}">{{ page.title | default: page.name }}</a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </li>
        {% endunless %}
      {% endfor %}
    </ul>

{% endif %}
