<div id="canvas-container" class="position-relative overflow-hidden flex-grow-1">
  
	<canvas id="legend-canvas"></canvas>

	<button id="btn-top-view" class="btn btn-top-view" type="button">
	  <i class="bi bi-grid-3x2-gap icon" aria-hidden="true"></i>
	  <span class="label">2D view</span>
	</button>

	<!--  カメラ位置表示用の div を重ねる -->
	<div id="camera-position-display"
	style="
	  position: absolute;
	  top: 4rem;
	  left: 1rem;
	  padding: 4px 8px;
	  background-color: rgba(0, 0, 0, 0.0);
	  color: white;
	  font-family: monospace;
	  font-size: 12px;
	  border-radius: 4px;
	  pointer-events: none;
	  z-index: 10;
	">
	Camera: x=0.00, y=0.00, z=0.00
	</div>
</div>
  