<!-- js/modules/quantStereo/qt-offcanvas.html -->
<div
  class="offcanvas offcanvas-end text-light border-0"
  tabindex="-1"
  id="offcanvasForm"
  aria-labelledby="offcanvasFormLabel"
>
  <div class="offcanvas-header mt-4">
    <h5 class="offcanvas-title mt-4 fs-5" id="offcanvasFormLabel">設定</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <form>
    <!-- グリッド単位球のスイッチ -->
    <div class="form-check form-switch">
      <input 
        class="form-check-input"
        type="checkbox" 
        id="toggle-grid-sphere" 
      >
      <label class="form-check-label" for="toggle-grid-sphere">
        グリッド単位球を表示
      </label>
    </div>

    <!-- 床画像表示のスイッチ-->
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="toggle-ground-visibility"
        checked
      >
      <label class="form-check-label" for="toggle-ground-visibility">
        床画像を表示
      </label>
    </div>

    <!-- 垂直往復 (Vertical Oscillation) のスイッチ -->
    <div class="form-check form-switch mt-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="toggle-camera-vertical"
        checked
      >
      <label class="form-check-label" for="toggle-camera-vertical">
        カメラの自動回転（垂直）
      </label>
    </div>

    <!-- 水平回転 (OrbitControls.rotate) のスイッチ -->
    <div class="form-check form-switch mt-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="toggle-camera-horizontal"
        checked
      >
      <label class="form-check-label" for="toggle-camera-horizontal">
        カメラの自動回転（水平）
      </label>
    </div>

      <!-- 背景色 (Background Color) -->
      <div class="mb-3">
        <label for="input-bg-color" class="form-label small">背景色</label>
        <input
          type="color"
          class="form-control form-control-color form-control-sm"
          id="input-bg-color"
          value="#000011"
          title="背景色を選択"
        />
      </div>

      <!-- 球のベース色 (Sphere Base Color) -->
      <div class="mb-3">
        <label for="input-sphere-color" class="form-label small">球の色</label>
        <input
          type="color"
          class="form-control form-control-color form-control-sm"
          id="input-sphere-color"
          value="#ffffff"
          title="球の色を選択"
        />
      </div>

      <!-- ピークカラー１ (Peak Color 1) -->
      <div class="mb-3">
        <label for="input-peak1-color" class="form-label small">中間色</label>
        <input
          type="color"
          class="form-control form-control-color form-control-sm"
          id="input-peak1-color"
          value="#808080"
          title="中間色を選択"
        />
      </div>

      <!-- ピークカラー２ (Peak Color 2) -->
      <div class="mb-3">
        <label for="input-peak2-color" class="form-label small">ピーク最終色</label>
        <input
          type="color"
          class="form-control form-control-color form-control-sm"
          id="input-peak2-color"
          value="#000000"
          title="ピーク最終色を選択"
        />
      </div>

      <hr />

      <!-- 設定完了ボタン -->
      <div class="d-grid mt-4">
        <button
          id="config-complete-btn"
          class="btn btn-primary"
          type="button"
          data-bs-dismiss="offcanvas"
        >
          設定完了
        </button>
      </div>
    </form>
  </div>
</div>
