---
layout: archive-en
permalink: /en/
entries_layout: grid 
---

{{ content }}

<!-- <h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>

<div style="display: block;">
  {% assign recent = site.posts | sort: "date" | reverse | slice: 0,4 %}
  <div class="entries-{{ page.entries_layout }}">
    {% for post in recent %}
      {% include archive-single-home.html post=post type=page.entries_layout %}
    {% endfor %}
  </div>
</div> -->